@use '../custom' as *;

.about-section{
    padding: 10rem 0;

    @include media-breakpoint-down(md) {
        padding: 1rem;
    }

    .image-container{
        
        img{
            width: 90%;
            margin: 0 2rem 0 0;
            background-position: center;
            background-size: cover;

            @include media-breakpoint-down(lg) {
                width: 65%;
                display: block;
                margin-right: 0;
                margin: 0 auto 1rem;
            }

            @include media-breakpoint-down(md){
                width: 90%;
            }
        }
    }

    .about-me{

        .lg-screen{
            font-size: 2.25rem;
            font-weight: 600;
            color: $primary;

            @include media-breakpoint-down(lg) {
                font-size: 2rem;
            }
        }

        p{
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .tab-item{

            @include media-breakpoint-between(lg, xl) {
                display: none;
            }

            .tab-link{
                border: none;
                background: transparent;
                padding: 0;
                margin: 1rem 2rem .5rem 0;
                position: relative;

                @include media-breakpoint-down(xs) {
                    margin: 1rem 1.5rem .5rem 0;
                }

                &::after {
                    content: '';
                    width: 0;
                    background: $primary;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: .4s;
                }
                &.active-link::after{
                    width: 70%;
                }
            }
        }

        .tab-content{
            padding: 0;
            display: none;
            height: 200px;

            &.active-content{
                display: block;

                @include media-breakpoint-between(lg, xl) {
                    display: none;
                }

            }
            li{
                list-style: none;
                margin-bottom: .5rem;
                font-size: 0.875rem;

                span{
                    font-size: 0.75rem;
                    display: block;
                    color: $primary;
                }
            }
        }
    }

    .btween-lg-xl{

        @include media-breakpoint-between(xm, lg) {
            display: none;
        }
        @include media-breakpoint-up(xl) {
            display: none;
        }
        .tab-item{
            
            .tab-link{
                border: none;
                background: transparent;
                padding: 0;
                margin: 1rem 2rem .5rem 0;
                position: relative;

                &::after {
                    content: '';
                    width: 0;
                    background: $primary;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: .4s;
                }
                &.active-link::after{
                    width: 70%;
                }
            }
        }

        .tab-content{
            padding: 0;
            display: none;
            height: 200px;

            &.active-content{
                display: block;

                @include media-breakpoint-between(sm, lg) {
                    display: none;
                }
                @include media-breakpoint-up(xl) {
                    display: none;
                }

            }
            li{
                list-style: none;
                margin-bottom: .5rem;
                font-size: 0.875rem;

                span{
                    font-size: 0.75rem;
                    display: block;
                    color: $primary;
                }
            }
        }
    }
}