@use '../custom' as *;

.hero-section{
    padding: 10rem 1rem;

    @include media-breakpoint-up(lg) {
        padding: 10rem 0;
    }

    .text-container{
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
            margin-top: 2.5rem;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 2rem;
        }
        @include media-breakpoint-up(xxl) {
            margin-top: 1.5rem;
        }

        h1{
            font-size: 3rem;
            font-weight: 600;
            position: relative;
            margin-bottom: 5.5rem;

            @include media-breakpoint-up(md) {
                font-size: 2.8rem;
                margin-bottom: 5rem;
            }
            @include media-breakpoint-up(lg) {
               font-size: 3.5rem;
               margin-bottom: 6rem;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 3.8rem;
                margin-bottom: 7.5rem;
            }


            span{
                display: block;
                position: absolute;
                font-size: 4.5rem;
                font-weight: 700;
                left: 50%;
                transform: translateX(-50%);

                @include media-breakpoint-up(md){
                    left: 0;
                    transform: translateX(0%);
                    font-size: 4rem;
                    letter-spacing: 2px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 5rem;
                 }
                @include media-breakpoint-up(xxl) {
                    font-size: 6rem;
                }


                &:nth-child(1){
                    color: transparent;
                    -webkit-text-stroke: 2px $primary;
                }

                &:nth-child(2){
                    color: $primary;
                    animation: wave  4s ease-in-out infinite;
                }
            }
        }

        p{
            font-size: 1rem;
            margin-bottom: 2rem;
            font-weight: 400;
            color: $black;

            @include media-breakpoint-up(lg) {
                font-size: 1.125rem;
                font-weight: 500;
            }
            @include media-breakpoint-up(xxl) {
                margin-bottom: 3rem;
            }

        }

        button{
            border: 1px solid $primary;
            background: $primary;
            font-size: 1rem;
            padding: 0.375rem 0.75rem;
            color: $white;
            border-radius: 3px;
            transition: .4s;
            font-weight: 500;
            width: 135px;
            display: block;
            margin: 1rem auto;

            @include media-breakpoint-up(sm){
                display: inline;
                margin: 0 1rem 0 0;
            }

            &:hover + .btn-btn{
                color: $white;
                background: $primary;
            }

            &:hover{
                background: transparent;
                color: $primary;
            }
            
            
            &.btn-btn{
                background: transparent;
                color: $primary;
                transition: .4s;

                &:hover{
                    color: $white;
                    background: $primary;
                }
            }
        }
        

    }

    .image-container{
        display: none;

        @include media-breakpoint-up(sm){
            display: block;
        }
        
        img{
            background-position: center;
            background-size: cover;
            display: block;
            width: 90%;
            margin: 0 auto;

            @include media-breakpoint-up(md){
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }
    }

}
